.App {
  text-align: center;
}

.break-container{
  border: 1px solid red;
  margin: 10px;
}
.session-container{
  border: 1px solid green;
  margin: 10px;
}

.timer-container{
  border: 1px solid blue;
  margin: 10px;
}
